# Bỏ qua file cấu hình chứa mật khẩu Database
wp-config.php

# Bỏ qua thư mục chứa ảnh upload (để host tự lo, tránh nặng Git)
wp-content/uploads/

# Bỏ qua các file hệ thống máy tính
.DS_Store
Thumbs.db
*.wpress
wp-content/ai1wm-backups/
wp-content/wpvividbackups/
*.zip