<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"has-no-underline","style":{"spacing":{"blockGap":"0","padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull has-no-underline" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"tagName":"section","metadata":{"name":"Giới thiệu"},"align":"full","className":"banner-section","style":{"spacing":{"padding":{"right":"30px","left":"30px","top":"var:preset|spacing|60","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull banner-section" style="padding-top:var(--wp--preset--spacing--60);padding-right:30px;padding-bottom:0;padding-left:30px"><!-- wp:columns {"verticalAlignment":"center","align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"5rem"},"blockGap":{"top":"0","left":"0"}},"border":{"bottom":{"color":"var:preset|color|border","width":"1px"}}}} -->
<div class="wp-block-columns alignwide are-vertically-aligned-center" style="border-bottom-color:var(--wp--preset--color--border);border-bottom-width:1px;margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:5rem;padding-left:0"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0px","padding":{"top":"55px","right":"0px","bottom":"55px","left":"0px"}}},"layout":{"inherit":false,"wideSize":"1500px"}} -->
<div class="wp-block-group alignwide" style="padding-top:55px;padding-right:0px;padding-bottom:55px;padding-left:0px"><!-- wp:heading {"textAlign":"left","level":3,"style":{"typography":{"lineHeight":"1.5","textTransform":"uppercase","letterSpacing":"5px"},"elements":{"link":{"color":{"text":"var:preset|color|boulder"}}}},"textColor":"boulder","fontSize":"normal"} -->
<h3 class="wp-block-heading has-text-align-left has-boulder-color has-text-color has-link-color has-normal-font-size" style="letter-spacing:5px;line-height:1.5;text-transform:uppercase">Welcome to my world</h3>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"left","style":{"typography":{"lineHeight":"1.2","fontStyle":"normal","fontWeight":"700"},"spacing":{"margin":{"bottom":"var:preset|spacing|50","top":"var:preset|spacing|50"}}},"textColor":"foreground","fontSize":"extra-large"} -->
<h2 class="wp-block-heading has-text-align-left has-foreground-color has-text-color has-extra-large-font-size" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50);font-style:normal;font-weight:700;line-height:1.2">Xin chào, tôi là <mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-primary-color">Thế Anh </mark><br>a Frontend Developer</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|boulder"}}}},"textColor":"boulder"} -->
<p class="has-text-align-left has-boulder-color has-text-color has-link-color">Tôi là sinh viên Công nghệ Thông tin, có đam mê xây dựng website hiện đại và phát triển các ứng dụng tích hợp trí tuệ nhân tạo.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|boulder"}}}},"textColor":"boulder"} -->
<p class="has-text-align-left has-boulder-color has-text-color has-link-color">Tôi luôn học hỏi, rèn luyện kỹ năng lập trình và tối ưu trải nghiệm người dùng nhằm tạo ra những sản phẩm chất lượng.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"className":" animated animated-fadeInUp","style":{"spacing":{"margin":{"top":"20px","bottom":"0px"},"blockGap":"20px"}},"layout":{"type":"flex","justifyContent":"left"}} -->
<div class="wp-block-buttons animated animated-fadeInUp" style="margin-top:20px;margin-bottom:0px"><!-- wp:button {"textColor":"primary","className":"is-style-fill","style":{"color":{"gradient":"linear-gradient(145deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%)"},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"typography":{"fontStyle":"normal","fontWeight":"700"},"shadow":"var:preset|shadow|natural","border":{"radius":"10px","top":{"color":"var:preset|color|background-secondary","width":"2px"},"right":{"color":"#ffffff00","width":"2px"},"bottom":{"color":"#ffffff00","width":"2px"},"left":{"color":"var:preset|color|background-secondary","width":"2px"}}}} -->
<div class="wp-block-button is-style-fill"><a class="wp-block-button__link has-primary-color has-text-color has-background has-link-color wp-element-button" href="#" style="border-radius:10px;border-top-color:var(--wp--preset--color--background-secondary);border-top-width:2px;border-right-color:#ffffff00;border-right-width:2px;border-bottom-color:#ffffff00;border-bottom-width:2px;border-left-color:var(--wp--preset--color--background-secondary);border-left-width:2px;background:linear-gradient(145deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%);box-shadow:var(--wp--preset--shadow--natural);font-style:normal;font-weight:700">view project</a></div>
<!-- /wp:button -->

<!-- wp:button {"textColor":"primary","className":"is-style-outline","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"typography":{"fontStyle":"normal","fontWeight":"700"},"shadow":"var:preset|shadow|natural","border":{"radius":"10px"}}} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-primary-color has-text-color has-link-color wp-element-button" href="#" style="border-radius:10px;box-shadow:var(--wp--preset--shadow--natural);font-style:normal;font-weight:700">Contact Me</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|80"},"blockGap":"var:preset|spacing|80"}},"layout":{"type":"flex","flexWrap":"wrap","orientation":"horizontal","justifyContent":"left"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--80)"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|boulder"}}}},"textColor":"boulder","fontSize":"small"} -->
<p class="has-boulder-color has-text-color has-link-color has-small-font-size" style="font-style:normal;font-weight:500">FIND WITH ME</p>
<!-- /wp:paragraph -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0"},"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="margin-top:0"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}},"color":{"gradient":"linear-gradient(135deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%)"},"shadow":"var:preset|shadow|natural","border":{"radius":"10px","top":{"color":"#fff","width":"2px"},"right":{"color":"#ffffff00","width":"2px"},"bottom":{"color":"#ffffff00","width":"2px"},"left":{"color":"#fff","width":"2px"}}},"layout":{"type":"constrained","contentSize":"30px"}} -->
<div class="wp-block-group has-background" style="border-radius:10px;border-top-color:#fff;border-top-width:2px;border-right-color:#ffffff00;border-right-width:2px;border-bottom-color:#ffffff00;border-bottom-width:2px;border-left-color:#fff;border-left-width:2px;background:linear-gradient(135deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%);padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30);box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:social-links {"iconBackgroundColor":"foreground","iconBackgroundColorValue":"#000","size":"has-small-icon-size","className":"is-style-default"} -->
<ul class="wp-block-social-links has-small-icon-size has-icon-background-color is-style-default"><!-- wp:social-link {"url":"facebook.com","service":"facebook"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}},"color":{"gradient":"linear-gradient(135deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%)"},"shadow":"var:preset|shadow|natural","border":{"radius":"10px","top":{"color":"#fff","width":"2px"},"right":{"color":"#ffffff00","width":"2px"},"bottom":{"color":"#ffffff00","width":"2px"},"left":{"color":"#fff","width":"2px"}}},"layout":{"type":"constrained","contentSize":"30px"}} -->
<div class="wp-block-group has-background" style="border-radius:10px;border-top-color:#fff;border-top-width:2px;border-right-color:#ffffff00;border-right-width:2px;border-bottom-color:#ffffff00;border-bottom-width:2px;border-left-color:#fff;border-left-width:2px;background:linear-gradient(135deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%);padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30);box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:social-links {"iconBackgroundColor":"foreground","iconBackgroundColorValue":"#000","size":"has-small-icon-size","className":"is-style-default"} -->
<ul class="wp-block-social-links has-small-icon-size has-icon-background-color is-style-default"><!-- wp:social-link {"url":"instagram.com","service":"instagram"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}},"color":{"gradient":"linear-gradient(135deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%)"},"shadow":"var:preset|shadow|natural","border":{"radius":"10px","top":{"color":"#fff","width":"2px"},"right":{"color":"#ffffff00","width":"2px"},"bottom":{"color":"#ffffff00","width":"2px"},"left":{"color":"#fff","width":"2px"}}},"layout":{"type":"constrained","contentSize":"30px"}} -->
<div class="wp-block-group has-background" style="border-radius:10px;border-top-color:#fff;border-top-width:2px;border-right-color:#ffffff00;border-right-width:2px;border-bottom-color:#ffffff00;border-bottom-width:2px;border-left-color:#fff;border-left-width:2px;background:linear-gradient(135deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%);padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30);box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:social-links {"iconBackgroundColor":"foreground","iconBackgroundColorValue":"#000","size":"has-small-icon-size","className":"is-style-default"} -->
<ul class="wp-block-social-links has-small-icon-size has-icon-background-color is-style-default"><!-- wp:social-link {"url":"snapchat.com","service":"snapchat"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"40%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:40%"><!-- wp:image {"id":17,"width":"398px","height":"auto","aspectRatio":"0.48743260570669383","scale":"cover","sizeSlug":"full","linkDestination":"none","align":"center","style":{"color":{"duotone":"unset"}}} -->
<figure class="wp-block-image aligncenter size-full is-resized"><img src="http://localhost/babyboo/wp-content/uploads/2026/04/Chan-dung-nam-thanh-nien-lich-lam.png" alt="" class="wp-image-17" style="aspect-ratio:0.48743260570669383;object-fit:cover;width:398px;height:auto"/></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Services Section"},"align":"full","className":"my-works","style":{"spacing":{"padding":{"top":"5rem","bottom":"0px","right":"30px","left":"30px"}},"border":{"width":"0px","style":"none"}},"layout":{"inherit":true,"type":"constrained"}} -->
<section class="wp-block-group alignfull my-works" style="border-style:none;border-width:0px;padding-top:5rem;padding-right:30px;padding-bottom:0px;padding-left:30px"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"5rem"}},"border":{"bottom":{"color":"var:preset|color|border","width":"1px"},"top":[],"right":[],"left":[]}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="border-bottom-color:var(--wp--preset--color--border);border-bottom-width:1px;padding-bottom:5rem"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0px"}}} -->
<div class="wp-block-group alignwide"><!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"typography":{"letterSpacing":"5px"}},"textColor":"primary"} -->
<p class="has-text-align-left has-primary-color has-text-color has-link-color" style="letter-spacing:5px">FEATURES</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"textAlign":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}},"textColor":"foreground","fontSize":"large"} -->
<h2 class="wp-block-heading has-text-align-left has-foreground-color has-text-color has-link-color has-large-font-size">SKILL &amp; Projects</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|70"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","layout":{"type":"grid","minimumColumnWidth":"20rem"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","className":"has-style-box-shadow","style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"},"blockGap":"10px"},"color":{"gradient":"linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%)"},"border":{"radius":"20px","top":{"color":"var:preset|color|background-secondary","width":"2px"},"right":{"color":"#ffffff00","width":"2px"},"bottom":{"color":"#ffffff00","width":"2px"},"left":{"color":"var:preset|color|background-secondary","width":"2px"}},"shadow":"var:preset|shadow|natural"},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide has-style-box-shadow has-background" style="border-radius:20px;border-top-color:var(--wp--preset--color--background-secondary);border-top-width:2px;border-right-color:#ffffff00;border-right-width:2px;border-bottom-color:#ffffff00;border-bottom-width:2px;border-left-color:var(--wp--preset--color--background-secondary);border-left-width:2px;background:linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%);padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px;box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"inherit":false}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:image {"id":3424,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/babyboo/wp-content/themes/pro-portfolio/assets/images/services.png" alt="" class="wp-image-3424"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:heading {"textAlign":"left","level":3,"style":{"spacing":{"margin":{"top":"0px","right":"10px","bottom":"10px"}},"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}},"textColor":"foreground","fontSize":"medium"} -->
<h3 class="wp-block-heading has-text-align-left has-foreground-color has-text-color has-link-color has-medium-font-size" style="margin-top:0px;margin-right:10px;margin-bottom:10px;font-style:normal;font-weight:500"><br>Phát triển Web Frontend</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|boulder"}}}},"textColor":"boulder"} -->
<p class="has-text-align-left has-boulder-color has-text-color has-link-color">Xây dựng giao diện website bằng HTML, CSS, JavaScript.<br>Thiết kế responsive, tối ưu hiển thị trên nhiều thiết bị.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary"} -->
<p class="has-text-align-left has-primary-color has-text-color has-link-color"><strong>xem chi tiết</strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","className":"has-style-box-shadow","style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"},"blockGap":"10px"},"color":{"gradient":"linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%)"},"border":{"radius":"20px","top":{"color":"var:preset|color|background-secondary","width":"2px"},"right":{"color":"#ffffff00","width":"2px"},"bottom":{"color":"#ffffff00","width":"2px"},"left":{"color":"var:preset|color|background-secondary","width":"2px"}},"shadow":"var:preset|shadow|natural"},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide has-style-box-shadow has-background" style="border-radius:20px;border-top-color:var(--wp--preset--color--background-secondary);border-top-width:2px;border-right-color:#ffffff00;border-right-width:2px;border-bottom-color:#ffffff00;border-bottom-width:2px;border-left-color:var(--wp--preset--color--background-secondary);border-left-width:2px;background:linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%);padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px;box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"inherit":false}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:image {"id":3424,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/babyboo/wp-content/themes/pro-portfolio/assets/images/services.png" alt="" class="wp-image-3424"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:heading {"textAlign":"left","level":3,"style":{"spacing":{"margin":{"top":"0px","right":"10px","bottom":"10px"}},"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}},"textColor":"foreground","fontSize":"medium"} -->
<h3 class="wp-block-heading has-text-align-left has-foreground-color has-text-color has-link-color has-medium-font-size" style="margin-top:0px;margin-right:10px;margin-bottom:10px;font-style:normal;font-weight:500"><br>Ứng dụng AI cơ bản</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|boulder"}}}},"textColor":"boulder"} -->
<p class="has-text-align-left has-boulder-color has-text-color has-link-color">Tìm hiểu và xây dựng các ứng dụng AI như nhận diện khuôn mặt, chatbot và xử lý dữ liệu cơ bản.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary"} -->
<p class="has-text-align-left has-primary-color has-text-color has-link-color"><strong><a href="#">xem chi tiết</a></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","className":"has-style-box-shadow","style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"},"blockGap":"10px"},"color":{"gradient":"linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%)"},"border":{"radius":"20px","top":{"color":"var:preset|color|background-secondary","width":"2px"},"right":{"color":"#ffffff00","width":"2px"},"bottom":{"color":"#ffffff00","width":"2px"},"left":{"color":"var:preset|color|background-secondary","width":"2px"}},"shadow":"var:preset|shadow|natural"},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide has-style-box-shadow has-background" style="border-radius:20px;border-top-color:var(--wp--preset--color--background-secondary);border-top-width:2px;border-right-color:#ffffff00;border-right-width:2px;border-bottom-color:#ffffff00;border-bottom-width:2px;border-left-color:var(--wp--preset--color--background-secondary);border-left-width:2px;background:linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%);padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px;box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"inherit":false}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:image {"id":3424,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/babyboo/wp-content/themes/pro-portfolio/assets/images/services.png" alt="" class="wp-image-3424"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:heading {"textAlign":"left","level":3,"style":{"spacing":{"margin":{"top":"0px","right":"10px","bottom":"10px"}},"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}},"textColor":"foreground","fontSize":"medium"} -->
<h3 class="wp-block-heading has-text-align-left has-foreground-color has-text-color has-link-color has-medium-font-size" style="margin-top:0px;margin-right:10px;margin-bottom:10px;font-style:normal;font-weight:500"><br>Thiết kế giao diện UI/UX</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|boulder"}}}},"textColor":"boulder"} -->
<p class="has-text-align-left has-boulder-color has-text-color has-link-color">Thiết kế giao diện thân thiện, dễ sử dụng, tập trung vào trải nghiệm người dùng.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary"} -->
<p class="has-text-align-left has-primary-color has-text-color has-link-color"><strong><a href="#">xem chi tiết</a></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","className":"has-style-box-shadow","style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"},"blockGap":"10px"},"color":{"gradient":"linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%)"},"border":{"radius":"20px","top":{"color":"var:preset|color|background-secondary","width":"2px"},"right":{"color":"#ffffff00","width":"2px"},"bottom":{"color":"#ffffff00","width":"2px"},"left":{"color":"var:preset|color|background-secondary","width":"2px"}},"shadow":"var:preset|shadow|natural"},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide has-style-box-shadow has-background" style="border-radius:20px;border-top-color:var(--wp--preset--color--background-secondary);border-top-width:2px;border-right-color:#ffffff00;border-right-width:2px;border-bottom-color:#ffffff00;border-bottom-width:2px;border-left-color:var(--wp--preset--color--background-secondary);border-left-width:2px;background:linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%);padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px;box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"inherit":false}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:image {"id":3424,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/babyboo/wp-content/themes/pro-portfolio/assets/images/services.png" alt="" class="wp-image-3424"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:heading {"textAlign":"left","level":3,"style":{"spacing":{"margin":{"top":"0px","right":"10px","bottom":"10px"}},"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}},"textColor":"foreground","fontSize":"medium"} -->
<h3 class="wp-block-heading has-text-align-left has-foreground-color has-text-color has-link-color has-medium-font-size" style="margin-top:0px;margin-right:10px;margin-bottom:10px;font-style:normal;font-weight:500"><br>Làm việc với Git &amp; GitHub</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|boulder"}}}},"textColor":"boulder"} -->
<p class="has-text-align-left has-boulder-color has-text-color has-link-color">Quản lý mã nguồn, làm việc nhóm và lưu trữ dự án trên GitHub.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary"} -->
<p class="has-text-align-left has-primary-color has-text-color has-link-color"><strong><a href="#">xem chi tiết</a></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","className":"has-style-box-shadow","style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"},"blockGap":"10px"},"color":{"gradient":"linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%)"},"border":{"radius":"20px","top":{"color":"var:preset|color|background-secondary","width":"2px"},"right":{"color":"#ffffff00","width":"2px"},"bottom":{"color":"#ffffff00","width":"2px"},"left":{"color":"var:preset|color|background-secondary","width":"2px"}},"shadow":"var:preset|shadow|natural"},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide has-style-box-shadow has-background" style="border-radius:20px;border-top-color:var(--wp--preset--color--background-secondary);border-top-width:2px;border-right-color:#ffffff00;border-right-width:2px;border-bottom-color:#ffffff00;border-bottom-width:2px;border-left-color:var(--wp--preset--color--background-secondary);border-left-width:2px;background:linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%);padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px;box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"inherit":false}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:image {"id":3424,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/babyboo/wp-content/themes/pro-portfolio/assets/images/services.png" alt="" class="wp-image-3424"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:heading {"textAlign":"left","level":3,"style":{"spacing":{"margin":{"top":"0px","right":"10px","bottom":"10px"}},"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}},"textColor":"foreground","fontSize":"medium"} -->
<h3 class="wp-block-heading has-text-align-left has-foreground-color has-text-color has-link-color has-medium-font-size" style="margin-top:0px;margin-right:10px;margin-bottom:10px;font-style:normal;font-weight:500"><br>Kỹ năng học tập &amp; tự nghiên cứu</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|boulder"}}}},"textColor":"boulder"} -->
<p class="has-text-align-left has-boulder-color has-text-color has-link-color">Chủ động tìm hiểu công nghệ mới, đọc tài liệu và phát triển kỹ năng lập trình.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary"} -->
<p class="has-text-align-left has-primary-color has-text-color has-link-color"><strong><a href="#">xem chi tiết</a></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","className":"has-style-box-shadow","style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"},"blockGap":"10px"},"color":{"gradient":"linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%)"},"border":{"radius":"20px","top":{"color":"var:preset|color|background-secondary","width":"2px"},"right":{"color":"#ffffff00","width":"2px"},"bottom":{"color":"#ffffff00","width":"2px"},"left":{"color":"var:preset|color|background-secondary","width":"2px"}},"shadow":"var:preset|shadow|natural"},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide has-style-box-shadow has-background" style="border-radius:20px;border-top-color:var(--wp--preset--color--background-secondary);border-top-width:2px;border-right-color:#ffffff00;border-right-width:2px;border-bottom-color:#ffffff00;border-bottom-width:2px;border-left-color:var(--wp--preset--color--background-secondary);border-left-width:2px;background:linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%);padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px;box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"inherit":false}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:image {"id":3424,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/babyboo/wp-content/themes/pro-portfolio/assets/images/services.png" alt="" class="wp-image-3424"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:heading {"textAlign":"left","level":3,"style":{"spacing":{"margin":{"top":"0px","right":"10px","bottom":"10px"}},"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}},"textColor":"foreground","fontSize":"medium"} -->
<h3 class="wp-block-heading has-text-align-left has-foreground-color has-text-color has-link-color has-medium-font-size" style="margin-top:0px;margin-right:10px;margin-bottom:10px;font-style:normal;font-weight:500"><br>Kỹ năng làm việc nhóm</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|boulder"}}}},"textColor":"boulder"} -->
<p class="has-text-align-left has-boulder-color has-text-color has-link-color">Có khả năng làm việc nhóm, giao tiếp và phối hợp trong các dự án lập trình.<br>Sử dụng GitHub để quản lý và chia sẻ mã nguồn hiệu quả.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary"} -->
<p class="has-text-align-left has-primary-color has-text-color has-link-color"><strong><a href="#">xem chi tiết</a></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Resume Section"},"align":"full","className":"my-resume","style":{"spacing":{"padding":{"top":"5rem","right":"30px","left":"30px","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull my-resume" style="padding-top:5rem;padding-right:30px;padding-bottom:0;padding-left:30px"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"5rem"}},"border":{"bottom":{"color":"var:preset|color|border","width":"1px"},"top":[],"right":[],"left":[]}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="border-bottom-color:var(--wp--preset--color--border);border-bottom-width:1px;padding-bottom:5rem"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0px"}}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}},"textColor":"foreground","fontSize":"large"} -->
<h2 class="wp-block-heading has-text-align-center has-foreground-color has-text-color has-link-color has-large-font-size">My Resume</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group alignwide"><!-- wp:columns {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
<div class="wp-block-columns"><!-- wp:column {"width":"50%"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:paragraph {"style":{"color":{"text":"#fd024f"},"elements":{"link":{"color":{"text":"#fd024f"}}}}} -->
<p class="has-text-color has-link-color" style="color:#fd024f">2023-hiện tại</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading"><strong>ĐẠI HỌC TÂY NGUYÊN</strong></h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:group {"style":{"border":{"top":[],"bottom":[],"left":{"color":"var:preset|color|border","width":"6px"}},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"left":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-left-color:var(--wp--preset--color--border);border-left-width:6px;margin-top:0;margin-bottom:0;padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"align":"wide","className":"has-style-box-shadow","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"},"blockGap":"10px"},"color":{"gradient":"linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%)"},"border":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"10px","bottomRight":"10px"},"top":{"color":"var:preset|color|background-secondary","width":"2px"},"right":{"color":"#ffffff00","width":"2px"},"bottom":{"color":"#ffffff00","width":"2px"},"left":{"color":"var:preset|color|background-item","width":"2px"}},"shadow":"var:preset|shadow|natural","layout":{"selfStretch":"fit","flexSize":null},"dimensions":{"minHeight":""}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide has-style-box-shadow has-background" style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-top-color:var(--wp--preset--color--background-secondary);border-top-width:2px;border-right-color:#ffffff00;border-right-width:2px;border-bottom-color:#ffffff00;border-bottom-width:2px;border-left-color:var(--wp--preset--color--background-item);border-left-width:2px;background:linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%);padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px;box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"inherit":false}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p><strong>Cử nhân Công nghệ Thông tin</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Trường Đại học Tây Nguyên (2023 - 2027)</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Sinh viên chuyên ngành Công nghệ thông tin, tập trung vào lập trình web và phát triển ứng dụng.<br>Đang học các môn như Cấu trúc dữ liệu, Lập trình Web, Trí tuệ nhân tạo.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"border":{"left":{"color":"var:preset|color|primary","width":"6px"},"top":[],"right":[],"bottom":[]},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"left":"var:preset|spacing|50","top":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-left-color:var(--wp--preset--color--primary);border-left-width:6px;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"align":"wide","className":"has-style-box-shadow","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"},"blockGap":"10px"},"color":{"gradient":"linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%)"},"border":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"10px","bottomRight":"10px"},"top":{"color":"var:preset|color|background-secondary","width":"2px"},"right":{"color":"#ffffff00","width":"2px"},"bottom":{"color":"#ffffff00","width":"2px"},"left":{"color":"var:preset|color|background-secondary","width":"2px"}},"shadow":"var:preset|shadow|natural"},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide has-style-box-shadow has-background" style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-top-color:var(--wp--preset--color--background-secondary);border-top-width:2px;border-right-color:#ffffff00;border-right-width:2px;border-bottom-color:#ffffff00;border-bottom-width:2px;border-left-color:var(--wp--preset--color--background-secondary);border-left-width:2px;background:linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%);padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px;box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"inherit":false}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p><strong>Dự án Website bán hàng</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Cá nhân (2024)</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Xây dựng website bán hàng bằng HTML, CSS, JavaScript.<br>Có chức năng hiển thị sản phẩm, giỏ hàng và responsive.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"border":{"left":{"color":"var:preset|color|border","width":"6px"}},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"left":"var:preset|spacing|50","top":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-left-color:var(--wp--preset--color--border);border-left-width:6px;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"align":"wide","className":"has-style-box-shadow","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"},"blockGap":"10px"},"color":{"gradient":"linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%)"},"border":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"10px","bottomRight":"10px"},"top":{"color":"var:preset|color|background-secondary","width":"2px"},"right":{"color":"#ffffff00","width":"2px"},"bottom":{"color":"#ffffff00","width":"2px"},"left":{"color":"var:preset|color|background-secondary","width":"2px"}},"shadow":"var:preset|shadow|natural"},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide has-style-box-shadow has-background" style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-top-color:var(--wp--preset--color--background-secondary);border-top-width:2px;border-right-color:#ffffff00;border-right-width:2px;border-bottom-color:#ffffff00;border-bottom-width:2px;border-left-color:var(--wp--preset--color--background-secondary);border-left-width:2px;background:linear-gradient(140deg,rgb(226,232,236) 0%,rgb(255,255,255) 100%);padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px;box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"inherit":false}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p><strong>Blog cá nhân</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Cá nhân (2023)</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Thiết kế blog chia sẻ kiến thức lập trình, tối ưu giao diện và trải nghiệm người dùng.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"50%"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:paragraph {"style":{"color":{"text":"#fd024f"},"elements":{"link":{"color":{"text":"#fd024f"}}}}} -->
<p class="has-text-color has-link-color" style="color:#fd024f">2023-Hiện tại</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading"><strong>KINH NGHIỆM LÀM VIỆC</strong></h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:group {"style":{"border":{"top":[],"right":[],"bottom":[],"left":{"color":"#ff0251","width":"6px"}},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"left":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-left-color:#ff0251;border-left-width:6px;margin-top:0;margin-bottom:0;padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"align":"wide","className":"has-style-box-shadow","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"},"blockGap":"10px"},"color":{"gradient":"linear-gradient(140deg,rgba(255,3,82,0.07) 0%,rgb(255,255,255) 100%)"},"border":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"10px","bottomRight":"10px"},"top":{"color":"var:preset|color|background-secondary","width":"2px"},"right":{"color":"#ffffff00","width":"2px"},"bottom":{"color":"#ffffff00","width":"2px"},"left":{"color":"var:preset|color|background-secondary","width":"2px"}},"shadow":"var:preset|shadow|natural"},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide has-style-box-shadow has-background" style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-top-color:var(--wp--preset--color--background-secondary);border-top-width:2px;border-right-color:#ffffff00;border-right-width:2px;border-bottom-color:#ffffff00;border-bottom-width:2px;border-left-color:var(--wp--preset--color--background-secondary);border-left-width:2px;background:linear-gradient(140deg,rgba(255,3,82,0.07) 0%,rgb(255,255,255) 100%);padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px;box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"inherit":false}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p><strong>Website học online</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Cá nhân (2024)</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Thiết kế giao diện website học trực tuyến.<br>Xây dựng form đăng ký, đăng nhập và bố cục responsive trên nhiều thiết bị.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"border":{"left":{"color":"var:preset|color|border","width":"6px"}},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"left":"var:preset|spacing|50","top":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-left-color:var(--wp--preset--color--border);border-left-width:6px;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"align":"wide","className":"has-style-box-shadow","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"},"blockGap":"10px"},"color":{"gradient":"linear-gradient(140deg,rgba(255,3,82,0.07) 0%,rgb(255,255,255) 100%)"},"border":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"10px","bottomRight":"10px"},"top":{"color":"var:preset|color|background-secondary","width":"2px"},"right":{"color":"#ffffff00","width":"2px"},"bottom":{"color":"#ffffff00","width":"2px"},"left":{"color":"var:preset|color|background-secondary","width":"2px"}},"shadow":"var:preset|shadow|natural"},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide has-style-box-shadow has-background" style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-top-color:var(--wp--preset--color--background-secondary);border-top-width:2px;border-right-color:#ffffff00;border-right-width:2px;border-bottom-color:#ffffff00;border-bottom-width:2px;border-left-color:var(--wp--preset--color--background-secondary);border-left-width:2px;background:linear-gradient(140deg,rgba(255,3,82,0.07) 0%,rgb(255,255,255) 100%);padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px;box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"inherit":false}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p><strong>Landing Page sản phẩm</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Cá nhân (2023)</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Thiết kế landing page hiện đại bằng HTML, CSS.<br>Tập trung vào UI/UX và hiệu ứng animation cơ bản.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"border":{"left":{"color":"var:preset|color|primary","width":"6px"},"top":[],"right":[],"bottom":[]},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"left":"var:preset|spacing|50","top":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-left-color:var(--wp--preset--color--primary);border-left-width:6px;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"align":"wide","className":"has-style-box-shadow","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"},"blockGap":"10px"},"color":{"gradient":"linear-gradient(140deg,rgba(255,3,82,0.07) 0%,rgb(255,255,255) 100%)"},"border":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"10px","bottomRight":"10px"},"top":{"color":"var:preset|color|background-secondary","width":"2px"},"right":{"color":"#ffffff00","width":"2px"},"bottom":{"color":"#ffffff00","width":"2px"},"left":{"color":"var:preset|color|background-secondary","width":"2px"}},"shadow":"var:preset|shadow|natural","layout":{"selfStretch":"fit","flexSize":null},"dimensions":{"minHeight":""}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide has-style-box-shadow has-background" style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-top-color:var(--wp--preset--color--background-secondary);border-top-width:2px;border-right-color:#ffffff00;border-right-width:2px;border-bottom-color:#ffffff00;border-bottom-width:2px;border-left-color:var(--wp--preset--color--background-secondary);border-left-width:2px;background:linear-gradient(140deg,rgba(255,3,82,0.07) 0%,rgb(255,255,255) 100%);padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px;box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"inherit":false}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p><strong>Website Portfolio cá nhân</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Cá nhân (2025)</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Xây dựng website portfolio giới thiệu bản thân, kỹ năng và các dự án đã thực hiện.<br>Thiết kế giao diện hiện đại, responsive và tối ưu trải nghiệm người dùng.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></section>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->